body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.carte, .mentions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: auto;
  margin: 150px auto;
  padding: 150px 0px;
  box-shadow: 0 0 15px #8B8B8B;
}
.carte__section {
  position: relative;
  width: 80%;
}
.carte span, .mentions span {
  position: absolute;
  right: 0;
  font-weight: bold;
}
@media all and (max-width: 1700px) {
  .carte, .mentions {
    width: 75%;
    margin: 125px auto;
  }
}
@media all and (max-width: 1000px) {
  .carte, .mentions {
    width: 90%;
    margin: 100px auto;
    padding: 100px 0px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: #579C87;
}
header h1 {
  color: #FCCB47;
  font-family: "Ramabhadra", sans-serif;
  font-size: 3em;
  letter-spacing: -3px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #579C87;
}
footer a {
  position: absolute;
  color: #FCCB47;
  font-family: "Varela", sans-serif;
  font-size: 1.2em;
}
footer a:first-child {
  left: 50px;
}
footer a:last-child {
  right: 50px;
}
@media all and (max-width: 500px) {
  footer a {
    font-size: 0.8em;
  }
  footer a:first-child {
    left: 30px;
  }
  footer a:last-child {
    right: 30px;
  }
}

.container {
  margin: 100px 200px;
  padding: 1em 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 800px;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}
.container .menu {
  position: relative;
  box-shadow: 0 0 15px #8B8B8B;
}
.container .menu a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container .menu a div {
  text-align: center;
}
.container .menu__1 {
  background: #FBDFDB;
  color: #000;
}
.container .menu__1 h2 {
  font-family: "Devonshire", cursive;
  font-size: 2em;
}
.container .menu__1 h3 {
  font-family: "Itim", cursive;
  font-size: 2.2em;
}
.container .menu__2 {
  background: #FFF4FE;
}
.container .menu__2 h2 {
  background: linear-gradient(167deg, #d7842e 0%, #a761aa 61%, #a761aa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Croissant One", cursive;
  font-size: 1.5em;
}
.container .menu__2 h3 {
  color: #C77413;
  font-family: "Playfair Display", serif;
  font-size: 2.2em;
}
.container .menu__3 {
  background: #F9F9F9;
}
.container .menu__3 h2 {
  background: linear-gradient(167deg, #2100dd 0%, #007bfa 51%, #007bfa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script", cursive;
  font-size: 2.5em;
}
.container .menu__3 h3 {
  color: #0078FC;
  font-family: "Kalam", cursive;
  font-size: 2.5em;
}
.container .menu__4 {
  background: #FDFFFD;
}
.container .menu__4 h2 {
  background: linear-gradient(125deg, #4da142 0%, #bcff76 68%, #bcff76 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script", cursive;
  font-size: 2.5em;
}
.container .menu__4 h3 {
  color: #6CBD4D;
  font-family: "Kalam", cursive;
  font-size: 2.5em;
}
@media all and (max-width: 1700px) {
  .container {
    margin: 100px 50px;
    padding: 1em 1em;
  }
}
@media all and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 700px) {
  .container {
    margin: 100px 30px;
  }
  .container .menu a div {
    padding: 1.5em;
  }
}
@media all and (max-width: 500px) {
  .container {
    margin: 100px 20px;
    padding: 0;
  }
}

.carte--note {
  background: #FBDFDB;
}
.carte--note__title {
  text-align: center;
  font-family: "Devonshire", cursive;
}
.carte--note__title h2 {
  font-size: 3em;
}
.carte--note__title p {
  font-size: 2.5em;
  position: relative;
}
.carte--note__title p::before {
  content: "";
  position: absolute;
  left: -30%;
  background: url("../css/images/music_note.svg") no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}
.carte--note__title--basPage {
  margin-top: 3rem;
  display: flex;
}
.carte--note__section {
  font-family: "Handlee", cursive;
}
.carte--note__section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 40px 0px;
}
.carte--note__section__title h3 {
  position: relative;
  font-size: 1.6em;
  text-align: center;
  width: 30%;
  padding-bottom: 10px;
}
.carte--note__section__title .left {
  position: relative;
  width: 30%;
  height: 10px;
  background: url("../css/images/menu_note-sep-left.svg") no-repeat;
  background-size: contain;
  background-position: left;
}
.carte--note__section__title .right {
  position: relative;
  width: 30%;
  height: 10px;
  background: url("../css/images/menu_note-sep-right.svg") no-repeat;
  background-size: contain;
  background-position: right;
}
.carte--note__section ul li {
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 1.1em;
}
@media all and (max-width: 1700px) {
  .carte--note h3 {
    font-size: 1.4em;
  }
  .carte--note ul li {
    font-size: 0.95em;
  }
}
@media all and (max-width: 1000px) {
  .carte--note h3 {
    font-size: 1.2em;
  }
  .carte--note ul li {
    font-size: 0.8em;
  }
  .carte--note p {
    font-size: 2em;
    margin-top: 5rem;
  }
  .carte--note p::before {
    width: 40px;
    height: 40px;
    left: 40%;
    top: -100%;
  }
}
@media all and (max-width: 700px) {
  .carte--note h2 {
    font-size: 2.2em;
  }
  .carte--note h3 {
    font-size: 1em;
  }
  .carte--note ul li {
    font-size: 0.7em;
    line-height: 30px;
    margin: 10px 0px;
  }
}

.carte--chic {
  background: #FFF4FE;
}
.carte--chic__title {
  text-align: center;
  font-family: "Croissant One", cursive;
}
.carte--chic__title h2 {
  background: linear-gradient(167deg, #d7842e 0%, #a761aa 61%, #a761aa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.3em;
  margin: 5px 0px 50px 0px;
}
.carte--chic__section {
  font-family: "Times New Roman", Times, serif;
}
.carte--chic__section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 40px 0px;
}
.carte--chic__section__title h3 {
  position: relative;
  font-size: 1.6em;
  text-align: center;
  width: 30%;
  padding-bottom: 10px;
}
.carte--chic__section__title .left, .carte--chic__section__title .right {
  position: relative;
  width: 30%;
  height: 10px;
}
.carte--chic__section ul li {
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 1.1em;
}
.carte--chic .color1 {
  color: #C67411;
}
.carte--chic .color1 .left {
  background: url("../css/images/menu_chic-sep-left.svg") no-repeat;
  background-size: contain;
  background-position: left;
}
.carte--chic .color1 .right {
  background: url("../css/images/menu_chic-sep-right.svg") no-repeat;
  background-size: contain;
  background-position: right;
}
.carte--chic .color2 {
  color: #A56799;
}
.carte--chic .color2 .left {
  background: url("../css/images/menu_chic-sep-left_cl2.svg") no-repeat;
  background-size: contain;
  background-position: left;
}
.carte--chic .color2 .right {
  background: url("../css/images/menu_chic-sep-right_cl2.svg") no-repeat;
  background-size: contain;
  background-position: right;
}
.carte--chic .color3 {
  color: #6E4CCC;
}
.carte--chic .color3 .left {
  background: url("../css/images/menu_chic-sep-left_cl3.svg") no-repeat;
  background-size: contain;
  background-position: left;
}
.carte--chic .color3 .right {
  background: url("../css/images/menu_chic-sep-right_cl3.svg") no-repeat;
  background-size: contain;
  background-position: right;
}
@media all and (max-width: 1700px) {
  .carte--chic h3 {
    font-size: 1.4em;
  }
  .carte--chic ul li {
    font-size: 0.95em;
  }
}
@media all and (max-width: 1000px) {
  .carte--chic h3 {
    font-size: 1.2em;
  }
  .carte--chic ul li {
    font-size: 0.8em;
  }
}
@media all and (max-width: 700px) {
  .carte--chic h2 {
    font-size: 1.8em;
  }
  .carte--chic h3 {
    font-size: 1em;
  }
  .carte--chic ul li {
    font-size: 0.7em;
    line-height: 30px;
    margin: 10px 0px;
  }
  .carte--chic ul li span {
    right: -10px;
  }
}

.carte--delice {
  background: #F9F9F9;
}
.carte--delice__title {
  text-align: center;
  font-family: "Dancing Script", cursive;
}
.carte--delice__title h2 {
  background: linear-gradient(167deg, #2100dd 0%, #007bfa 51%, #007bfa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  margin: 5px 0px 50px 0px;
}
.carte--delice__section {
  font-family: "Handlee", cursive;
}
.carte--delice__section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 40px 0px;
}
.carte--delice__section__title h3 {
  font-size: 1.6em;
  text-align: center;
  width: 30%;
  padding-bottom: 10px;
  position: relative;
}
.carte--delice__section .left, .carte--delice__section .right {
  position: relative;
  width: 30%;
  height: 10px;
}
.carte--delice__section ul li {
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 1.1em;
}
.carte--delice .color1 .left {
  background: url("../css/images/menu_delice-sep-left.svg") no-repeat;
  background-size: contain;
  background-position: left;
}
.carte--delice .color1 .right {
  background: url("../css/images/menu_delice-sep-right.svg") no-repeat;
  background-size: contain;
  background-position: right;
}
.carte--delice .color2 .left {
  background: url("../css/images/menu_delice-sep-left_cl2.svg") no-repeat;
  background-size: contain;
  background-position: left;
}
.carte--delice .color2 .right {
  background: url("../css/images/menu_delice-sep-right_cl2.svg") no-repeat;
  background-size: contain;
  background-position: right;
}
.carte--delice .color3 .left {
  background: url("../css/images/menu_delice-sep-left_cl3.svg") no-repeat;
  background-size: contain;
  background-position: left;
}
.carte--delice .color3 .right {
  background: url("../css/images/menu_delice-sep-right_cl3.svg") no-repeat;
  background-size: contain;
  background-position: right;
}
@media all and (max-width: 1700px) {
  .carte--delice h3 {
    font-size: 1.4em;
  }
  .carte--delice ul li {
    font-size: 0.95em;
  }
}
@media all and (max-width: 1000px) {
  .carte--delice h2 {
    font-size: 3em;
  }
  .carte--delice h3 {
    font-size: 1.2em;
  }
  .carte--delice ul li {
    font-size: 0.8em;
  }
}
@media all and (max-width: 700px) {
  .carte--delice h2 {
    font-size: 2.2em;
  }
  .carte--delice h3 {
    font-size: 1em;
  }
  .carte--delice ul li {
    font-size: 0.7em;
    line-height: 30px;
    margin: 10px 0px;
    width: 90%;
  }
}

.carte--palette {
  background: #FDFFFD;
}
.carte--palette__title {
  text-align: center;
  font-family: "Kaushan Script", cursive;
}
.carte--palette__title h2 {
  background: linear-gradient(125deg, #4da142 0%, #bcff76 68%, #bcff76 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5em;
  margin: 5px 0px 50px 0px;
}
.carte--palette__section {
  font-family: "Handlee", cursive;
}
.carte--palette__section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 40px 0px;
}
.carte--palette__section__title h3 {
  position: relative;
  font-size: 1.6em;
  text-align: center;
  width: 30%;
  padding-bottom: 10px;
}
.carte--palette__section__title .left {
  position: relative;
  width: 30%;
  height: 10px;
  background: url("../css/images/menu_palette-sep-left.svg") no-repeat;
  background-size: contain;
  background-position: left;
}
.carte--palette__section__title .right {
  position: relative;
  width: 30%;
  height: 10px;
  background: url("../css/images/menu_palette-sep-right.svg") no-repeat;
  background-size: contain;
  background-position: right;
}
.carte--palette__section ul li {
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 1.1em;
}
@media all and (max-width: 1700px) {
  .carte--palette h3 {
    font-size: 1.4em;
  }
  .carte--palette ul li {
    font-size: 0.95em;
  }
}
@media all and (max-width: 1000px) {
  .carte--palette h3 {
    font-size: 1.2em;
  }
  .carte--palette ul li {
    font-size: 0.8em;
  }
}
@media all and (max-width: 700px) {
  .carte--palette h2 {
    font-size: 2em;
  }
  .carte--palette h3 {
    font-size: 1em;
  }
  .carte--palette ul li {
    font-size: 0.7em;
    line-height: 30px;
    margin: 10px 0px;
    width: 80%;
  }
}

.mentions {
  padding: 100px;
}
.mentions__title {
  color: #FCCB47;
  font-family: "Ramabhadra", sans-serif;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.mentions__point {
  margin-bottom: 40px;
  width: 100%;
  font-family: "Varela", sans-serif;
}
.mentions__point h3 {
  color: #FCCB47;
  font-size: 1.5em;
}
.mentions__point a {
  font-weight: bold;
}
.mentions__point .center {
  margin-top: 40px;
}
.mentions__point span {
  position: relative;
}

/*# sourceMappingURL=style.css.map */
