// STYLE POUR ELEMENT FOOTER 
// présent sur toutes les pages et fixe
// avec effet d'animation en continu (wiggle)
// *******************************************
footer{
    @include flexbox_centerElement;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: $cl-bg_top-bottom;
    & a{
        position: absolute;
        color: $cl_title;
        font-family: $ft_textAcceuil;
        font-size: 1.2em;
        animation: wiggle 1s linear infinite;
        &:first-child{
            left: 50px;
        }
        &:last-child{
            right: 50px;
        }
    }
    //Règles pour écran <500px
    @include responsive(phone){
        & a{
            font-size: 0.8em;
            &:first-child{
                left: 30px;
            }
            &:last-child{
                right: 30px;
            }
        }
    }
}