// UPPERCASE ELEMENT
// ******************
.uppercase{
    text-transform: uppercase;
}
// CENTER ELEMENT
// ****************
.center{
    text-align: center;
}
// BOLD ELEMENT 
// *************
.bold{
    font-weight: bold;
}