// UPPERCASE ELEMENT
// ******************
.uppercase{
    text-transform: uppercase;
}
// CENTER ELEMENT
// ****************
.center{
    text-align: center;
}
// BOLD ELEMENT 
// *************
.bold{
    font-weight: bold;
}
// ICONE NOTE MUSIQUE
// *******************
img{
    width: 80px;
    height: 80px;
}