// PAGE
// *****
body{
    margin: 0;
    padding: 0;
}

// LISTES
// *******
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// LIENS
// ******
a{
    text-decoration: none;
    color: inherit;
}