// STYLE POUR PAGE DU MENU Note enchantée
// avec effet au survol des sous-titre entrée, plat et dessert
// **************************************************************
.carte--note{
    background: $bg_menuNoteEnchantee;
    &__title{
        text-align: center;
        font-family: $ft_menuNoteEnchantee-title;
        & h2{
            font-size: 3em;
        }
        & p{
            font-size: 2.5em;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left: -30%;
                background: url("../../css/images/music_note.svg") no-repeat;
                background-size: contain;
                width: 50px;
                height: 50px;
            }
        }
        &--basPage{
            margin-top: 3rem;
            display: flex;
        }
    }
    &__section{
        font-family: $ft_menuNoteEnchantee-section;
        &__title{
            @include flexbox_spaceBetween;
            @include section_styleTitle;
            &:hover h3::after{
                transform: scaleX(1);
            }
            & h3{
                @include section_styleH3;
                &::after{
                    @include hover_h3-afterElement;
                    background: $cl_menuNoteEnchantee;
                }
            }
            & .left{
                @include ornement;
                background: url("../../css/images/menu_note-sep-left.svg") no-repeat;
                @include leftOrnement;
            }
            & .right{
                @include ornement;
                background: url("../../css/images/menu_note-sep-right.svg") no-repeat;
                @include rightOrnement;
            }
        }
        & ul li{
            @include dish;
        }
    }
    // Règles pour écran <1700px
    @include responsive(desktop){
        h3{
            @include desktop_menuH3;
        }
        ul li{
            @include desktop_menuDish;
        }
    }
    // Règles pour écran <1000px
    @include responsive(tab-land){
        h3{
            @include tabLand_menuH3;
        }
        ul li{
            @include tabLand_menuDish;
        }
        p{
            font-size: 2em;
            margin-top: 5rem;
            &::before{
                width: 40px;
                height: 40px;
                left: 40%;
                top: -100%;
            }
        }
    }
    // Règles pour écran <700px
    @include responsive(tab-port){
        h2{
            font-size: 2.2em;
        }
        ul li{
            @include tapPort_menuDish;
            span{
                @include tabPort_menuPrice; 
            }
        }
    }
}