// STYLE POUR PAGE DU MENU Palette du goût
// avec effet au survol des sous-titre entrée, plat et dessert
// **************************************************************
.carte--palette{
    background: $bg_menuPaletteGout;
    &__title{
        text-align: center;
        font-family: $ft_menuPaletteGout-title;
        & h2{
            background: $deg_menuPaletteGout;
            @include bg_clip;
            font-size: 3.5em;
            @include carte_marginH2;
        }
    }
    &__section{
        font-family: $ft_menuDelicePapilles-section;
        &__title{
            @include flexbox_spaceBetween;
            @include section_styleTitle;
            &:hover h3::after{
                transform: scaleX(1);
            }
            & h3{
                @include section_styleH3;
                &::after{
                    @include hover_h3-afterElement;
                    background: $cl_menuNoteEnchantee;
                }
            }
            & .left{
                @include ornement;
                background: url("../../css/images/menu_palette-sep-left.svg") no-repeat;
                @include leftOrnement;
            }
            & .right{
                @include ornement;
                background: url("../../css/images/menu_palette-sep-right.svg") no-repeat;
                @include rightOrnement;
            }
        }
        & ul li{
            @include dish;
        }
    }
    // Règles pour écran <1700px
    @include responsive(desktop){
        h3{
            @include desktop_menuH3;
        }
        ul li{
            @include desktop_menuDish;
        }
    }
    // Règles pour écran <1000px
    @include responsive(tab-land){
        h3{
            @include tabLand_menuH3;
        }
        ul li{
            @include tabLand_menuDish;
        }
    }
    // Règles pour écran <700px
    @include responsive(tab-port){
        h2{
            font-size: 2em;
        }
        ul li{
            @include tapPort_menuDish;
            span{
                @include tabPort_menuPrice; 
            }
        }
    }
}