// STYLE POUR PAGE DU MENU Chic à la française
// avec effet au survol des sous-titre entrée, plat et dessert
// **************************************************************
.carte--chic{
    background: $bg_menuChicFrancaise;
    &__title{
        text-align: center;
        font-family: $ft_menuChicFrancaise-title;
        & h2{
            background: $deg_menuChicFrancaise;
            @include bg_clip;
            font-size: 2.3em;
            @include carte_marginH2;
        }
    }
    &__section{
        font-family: $ft_menuChicFrancaise-section;
        &__title{
            @include flexbox_spaceBetween;
            @include section_styleTitle;
            &:hover h3::after{
                transform: scaleX(1);
            }
            & h3{
                @include section_styleH3;
                &::after{
                    @include hover_h3-afterElement;
                }
            }
            & .left, .right{
                @include ornement;
            }
        } 
        & ul li{
            @include dish;
        }
    }
    & .color1{
        color: $cl_menuChicFrancaise-section1;
        & h3::after{
            background: $cl_menuChicFrancaise-section1;
        }
        & .left{
            background: url("../../css/images/menu_chic-sep-left.svg") no-repeat;
            @include leftOrnement;
        }
        & .right{
            background: url("../../css/images/menu_chic-sep-right.svg") no-repeat;
            @include rightOrnement;
        }
    }
    & .color2{
        color: $cl_menuChicFrancaise-section2;
        & h3::after{
            background: $cl_menuChicFrancaise-section2;
        }
        & .left{
            background: url("../../css/images/menu_chic-sep-left_cl2.svg") no-repeat;
            @include leftOrnement;
        }
        & .right{
            background: url("../../css/images/menu_chic-sep-right_cl2.svg") no-repeat;
            @include rightOrnement;
        }
    }
    & .color3{
        color: $cl_menuChicFrancaise-section3;
        & h3::after{
            background: $cl_menuChicFrancaise-section3;
        }
        & .left{
            background: url("../../css/images/menu_chic-sep-left_cl3.svg") no-repeat;
            @include leftOrnement;
        }
        & .right{
            background: url("../../css/images/menu_chic-sep-right_cl3.svg") no-repeat;
            @include rightOrnement;
        }
    }
    // Règles pour écran <1700px
    @include responsive(desktop){
        h3{
            @include desktop_menuH3;
        }
        ul li{
            @include desktop_menuDish;
        }
    }
    // Règles pour écran <1000px
    @include responsive(tab-land){
        h3{
            @include tabLand_menuH3;
        }
        ul li{
            @include tabLand_menuDish;
        }
    }
    // Règles pour écran <700px
    @include responsive(tab-port){
        h2{
            font-size: 1.8em;
        }
        ul li{
            @include tapPort_menuDish;
            span{
                @include tabPort_menuPrice; 
            }
        }
    }
    // Règle pour écran <500px
    @include responsive(phone){
        h3{
            @include phone_menuH3;
        }
    }
}