.carte--palette{
    background: $bg_menuPaletteGout;
    &__title{
        text-align: center;
        font-family: $ft_menuPaletteGout-title;
        & h2{
            background: $deg_menuPaletteGout;
            @include bg_clip;
            font-size: 4em;
            margin: 5px 0px 50px 0px;
        }
    }
    &__section{
        font-family: $ft_menuDelicePapilles-section;
        &__title{
            @include flexbox_spaceBetween;
            position: relative;
            margin: 40px 0px;
            & h3{
                position: relative;
                font-size: 1.6em;
                text-align: center;
                width: 30%;
                padding-bottom: 10px;
            }
            & .left{
                @include ornement;
                background: url("../css/images/menu_palette-sep-left.svg") no-repeat;
                @include leftOrnement;
            }
            & .right{
                @include ornement;
                background: url("../css/images/menu_palette-sep-right.svg") no-repeat;
                @include rightOrnement;
            }
        }
        & ul li{
            @include dish;
        }
    }
}