// ANIMATION WIGGLE
// ******************
@keyframes wiggle{
    0%{
        transform: rotate(0);
    }
    15%{
        transform: rotate(3deg);
    }
    25%{
        transform: rotate(-3deg);
    }
    35%{
        transform: rotate(3deg);
    }
    40%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(0);
    }
}

// ANIMATION WAITING POINT SUSPENSION
// ************************************
@keyframes waiting{
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(5px);
    }
}