// HEADER
// *******
$ft_header: 'Ramabhadra', sans-serif;

// FOOTER
// *******
$ft_textAcceuil: 'Varela', sans-serif;

// MENU NOTE ENCHANTEE
// ********************
$ft_menuNoteEnchantee-title: 'Devonshire', cursive;
$ft_menuNoteEnchantee-menu: 'Itim', cursive;
$ft_menuNoteEnchantee-section: 'Handlee', cursive;

// MENU CHIC A LA FRANCAISE
// *************************
$ft_menuChicFrancaise-title: 'Croissant One', cursive;
$ft_menuChicFrancaise-menu: 'Playfair Display', serif;
$ft_menuChicFrancaise-section: "Times New Roman", Times, serif;

// MENU DELICE DES PAPILLES
// *************************
$ft_menuDelicePapilles-title: 'Dancing Script', cursive;
$ft_menuDelicePapilles-section: 'Handlee', cursive;
// font identique pour le h3 "menu" du menu Délice des Papilles et Palette du goût
$ft_menuDelicePapilles_menuPaletteGout-menu: 'Kalam', cursive;

// MENU PALETTE DU GOUT
// *********************
$ft_paletteGout-title: 'Kaushan Script', cursive;
