@mixin flexbox_centerElement{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin bg_clip{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}