// HEADER
// *******
$cl-bg_top-bottom: #579C87;
$cl_title: #FCCB47;

// SHADOW
// ******
$cl_shadow: #8B8B8B;

// MENU NOTE ENCHANTEE
// *********************
$bg_menuNoteEnchantee: #FBDFDB;
$cl_menuNoteEnchantee: #000;

// MENU CHIC A LA FRANCAISE
// **************************
$bg_menuChicFrancaise: #FFF4FE;
$deg_menuChicFrancaise: linear-gradient(167deg, rgba(215,132,46,1) 0%, rgba(167,97,170,1) 61%, rgba(167,97,170,1) 100%);
$cl_menuChicFrancaise-menu: #C77413;
$cl_menuChicFrancaise-section1: #C67411;
$cl_menuChicFrancaise-section2: #A56799;
$cl_menuChicFrancaise-section3: #6E4CCC;

// MENU DELICE DES PAPILLES
// *************************
$bg_menuDelicePapilles: #F9F9F9;
$deg_menuDelicePapilles: linear-gradient(167deg, rgba(33,0,221,1) 0%, rgba(0,123,250,1) 51%, rgba(0,123,250,1) 100%);
$cl_menuDelicePapilles-menu: #0078FC;

// MENU PALETTE DU GOUT
// *********************
$bg_menuPaletteGout: #FDFFFD;
$deg_menuPaletteGout: linear-gradient(125deg, rgba(77,161,66,1) 0%, rgba(188,255,118,1) 68%, rgba(188,255,118,1) 100%);
$cl_menuPaletteGout-menu: #6CBD4D;